h1{
    font-size: 2.5srem;
}
body{
    background-color: rgb(245, 255, 198);
}
section{
    text-align: center;
    margin-top: 8rem;
}

img{
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.603);

}
button{
    width: 100px;
    height: 35px;
    box-shadow:  5px 5px 5px rgb(29, 29, 29);
    margin: 15px;
    cursor: pointer;
}